{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        {# Titre h1 de la page #}
        <div class="row">
            <div class="col-12">
                <h1 class="text-center my-5">Créer un compte</h1>
            </div>
        </div>

        {# Formulaire d'inscription #}
        <div class="row">
            <div class="col-12 col-md-4 mx-auto">
                {{ form_start(registrationForm) }}
                {{ form_errors(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.lastname) }}

                {{ form_row(registrationForm.plainPassword) }}

                {# Recaptchav2 #}
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                </div>
                {{ form_row(registrationForm.save) }}

                {{ form_end(registrationForm) }}


            </div>
        </div>
    </div>


{% endblock %}

{% block css %}

    {# Insertion du fichier JS dans le block stylesheets, ce n'est pas une erreur, la documentation de Recaptcha préconise en effet d'intégrer ce fichier JS dans le head #}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}

