{# Menu principal du site #}
<nav class="navbar navbar-expand-lg" style="background-color: #2A4999">
    <div class="container-fluid">
        {# Logo du site #}
        <img class="img-fluid main-navbar-logo" src="{{ asset('images/logo.png') }}" alt="">

        {# Menu burger #}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {# Conteneur principal des boutons #}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            {# Paquet des boutons de gauche #}
            <ul class="navbar-nav mx-auto mb-2 col-sm-6 col-md-4">

                {# Lien de la page d'accueil #}
                <li class="nav-item ">
                    <a class="nav-link text-center mx-3{{ route == 'main_index' ? ' active' }}" aria-current="page"
                       href="{{ path('main_index') }}">Accueil</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link text-center mx-3{{ route == 'main_service' ? ' active' }}"
                       href="{{ path('main_service') }}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-center mx-3 {{ route == 'main_formation' ? 'active' }} "
                       href="{{ path('main_formation') }}">Formations</a>
                </li>

                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link  text-center m-auto {{ route == 'main_session' ? 'active' }} "
                           href="{{ path('main_session') }}">Sessions</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link text-center mx-3 {{ route == 'main_contact' ? 'active' }} "
                       href="{{ path('main_contact') }}">
                        Contact
                    </a>
                </li>
            </ul>

            {# Paquet des bouton de droite #}
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                {# Affichage des liens réservés aux utilisateurs connectés (et ceux pour les personnes déconnectées dans "else") #}
                {% if app.user %}

                    <div class="d-flex">
                        <div class="dropdown ml-auto" id="example-dropdown" data-ax="dropdown">
                            <a class="dropdown-toggle" data-target="example-dropdown">
                               <span class="mr-2 d-none d-lg-inline fw-bold text-white">
                               {{ app.user.lastname }} {{ app.user.firstname }}
                            </span>
                                {% if app.user.roles == 'ROLE_ADMIN' %}
                                    <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" class="rounded-circle" alt="Image de profil" style="height: 5vh;width: 5vh">

                                {% else %}
                                    <img src="https://st4.depositphotos.com/12837522/39267/v/450/depositphotos_392673324-stock-illustration-teacher-tutor-blue-circle-internet.jpg
                                        " class="rounded-circle" alt="Image de profil" style="height: 5vh;width: 5vh">
                                {% endif %}

                            </a>

                            <div class="dropdown-content white dropdown-right shadow-1 rounded-1">

                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('app_home_banner_index') }}">Banniere Accueil</a>
                                    <a class="dropdown-item" href="{{ path('app_service_card_index') }}">Page Service</a>
                                    <a class="dropdown-item" href="{{ path('app_training_index') }}">Page Formation</a>
                                    <a class="dropdown-item" href="{{ path('app_session_card_index') }}">Page Session</a>

                                {% endif %}

                                <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt me-1"></i>Déconnexion</a>

                            </div>
                        </div>
                    </div>


                {% else %}
                    {# Lien de la page d'inscription #}
                    <li class="nav-item">
                        <a class="nav-link {{ route == 'app_register' ? 'active' }}"
                           href="{{ path('main_register') }}">
                            <i class="fa-solid fa-user-plus mx-1 bg-black "></i>Inscription
                        </a>
                    </li>
                    {# Lien de la page de connexion #}
                    <li class="nav-item navbar-right">
                        <a class="nav-link {{ route == 'app_login' ? 'active' }}"
                           href="{{ path('app_login') }}">
                            <i class="fa-solid fa-right-to-bracket mx-1 bg-black "></i>Connexion
                        </a>
                    </li>


                {% endif %}

            </ul>


        </div>


    </div>
</nav>