{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {#  Grille Bootstrap  #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 mx-auto">
                {{ form_start(form) }}

                {#    Affichage des erreurs générales du formulaire #}
                {{ form_errors(form) }}

                {#     Champ email #}
                {{ form_row(form.email) }}

                {#     Champ nom #}
                {{ form_row(form.name) }}

                {#     Champ prénom #}
                {{ form_row(form.firstname) }}

                {#     Champ sujet #}
                {{ form_row(form.subject) }}


                {#     Champ message #}
                {{ form_row(form.message) }}


                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                </div>

                {{ form_row(form.save) }}


                {# Fermeture du formulaire #}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23931.45372265436!2d-0.15194999745715007!3d43.24572926495798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd563219cfe35ef1%3A0x841010d715aa1e5a!2sRue%20des%20%C3%89coles%2C%2064420%20Espoey!5e0!3m2!1sfr!2sfr!4v1689515520673!5m2!1sfr!2sfr" style="width: 100%; height: 400px; border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


{% endblock %}
{% block css %}
    {# Insertion du fichier JS dans le block stylesheets, ce n'est pas une erreur, la documentation de Recaptcha préconise en effet d'intégrer ce fichier JS dans le head #}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>


{% endblock %}

