{% extends 'base.html.twig' %}

 {% block title %}Accueil{% endblock %}

{% block body %}

    {% if banner %}


        <div class="card-img text-bg-dark">
            <img src="{{ asset('/images/banniere/'~banner.banner) }}" class="card-img" alt="...">
            {#        <div class="card-img-overlay"> #}
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
                {# Si il y a une couleur pour le titre on affiche la couleur du titre, sinon on affichera "le titre en blanc" par défault #}
                <h1 style="color:{{ banner.titleColor ? banner.titleColor : 'white' }}"
                    class="card-title fw-bold fs-2">{{ banner.title }}</h1>
                <p style="color:{{ banner.contentColor ? banner.contentColor : 'white' }}"
                   class="card-text fs-5">{{ banner.content }}</p>
            </div>
        </div>
    {% else %}
        <div class="card-img text-bg-dark">
            <img src="{{ asset('/images/images.jpg') }}" class="card-img" alt="...">
            <div class="card-img-overlay">
                <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
                    <h1 class="card-title fw-bold fs-2">Au service de vos transformations numériques</h1>
                    <p class="card-text fs-5">Lebosq Networks dispose de compétences pluridisciplinaires afin de vous
                        accompagner
                        dans vos futurs besoins</p>

                </div>
            </div>
        </div>
    {% endif %}






<h4>Nos<br>Matériels</h4>

<p>Nous proposons une large gamme de matériels dans différents domaines : infrastructure, réseaux, poste de travail,
    serveurs, NAS,SAN</p>



<div class="container ">
    <div class="row">
        <div class="col-md-3 mx-auto">
            <div class="card card-height col-lg-4 my-3 w-100">
                <i class="icon fa-solid fa-globe  fa-4x"></i>
                <p class="card-title text-center"><b>Commutateurs réseaux</b></p>
                <p class="card-text text-center">Nous fournissons des materiels reseaux de toutes marques afin
                    de
                    satisfaire tous les budgets</p>
            </div>
        </div>



        <div class="col-md-3 mx-auto">
            <div class="card card-height col-lg-4 my-3 w-100">

                <i class="icon fa-regular fa-building fa-4x"></i>

                <p class="card-title text-center"><b>Infrastructures</b></p>
                <p class="card-text">Nous proposons des systèmes adaptés à vos problématiques : solution de
                    stockage, de serveurs...</p>

            </div>
        </div>


        <div class="col-md-3 mx-auto">
            <div class="card card-height col-lg-4 my-3 w-100">

                <i class="icon fa-solid fa-display mb-2 fa-4x"></i>
                <p class="card-title text-center"><b>Écrans</b></p>
                <p class="card-text">Nous pouvons vous fournir tout type d’écrans : interactif, incurvé<br>
                    etc...</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-3 mx-auto">
            <div class="card card-height col-lg-4 my-3 w-100">
                <i class="icon fa-solid fa-print mb-2 fa-4x"></i>
                <p class="card-title text-center"><b>Imprimantes</b></p>
                <p class="card-text text-center">Nous disposons dans notre catalogue divers périphériques d'
                    impressions</p>
            </div>
        </div>


        <div class="col-md-3 mx-auto">
            <div class="card card-height col-lg-4 my-3 w-100">

                <i class="icon fa-regular fa-file-lines fa-4x"></i>
                <p class="card-title text-center"><b>Devis</b></p>
                <p class="card-text text-center">N’hesitez pas à nous contactez afin d’obtenir un devis adapté à
                    votre situation</p>
            </div>
        </div>

        <div class="col-md-3 mx-auto">
            <div class="card card-height col-lg-4 my-3 w-100">

                <i class="icon fa-regular fa-comment-dots mb-2 fa-4x"></i>
                <p class="card-title text-center"><b>Conseil</b></p>
                <p class="card-text text-center">Besoin d'aide ?<br> Cliquez sur la rubrique<br> "Contact"</p>
            </div>
        </div>
    </div>

</div>




<h1>Nos<br>Services</h1>

<p>Soucieux de vous accompagner dans la totalité de vos démarches, nous proposons une offre de
    service complète :</p>


<div class="container">
    <div class="row mb-3">

        <div class="col-md-3 mx-auto">
            <div class="card card-height col-lg-4 my-3 w-100">

                <i class="icon fa-solid fa-network-wired fa-4x"></i>
                <p class="card-title text-center"><b>Réseau</b></p>
                <p class="card-text text-center">Mise en place d'infrastructures réseaux : switch, routeur,
                    firewall</p>
            </div>
        </div>


        <div class="col-md-3 mx-auto">
            <div class="card card-height col-lg-4 my-3 w-100">

                <i class="icon fa-solid fa-right-left fa-4x"></i>
                <p class="card-title text-center"><b>Systèmes</b></p>
                <p class="card-text">Installation et service associé : sauvegarde, stockage, serveur...</p>
            </div>
        </div>


        <div class="col-md-3 mx-auto">
            <div class="card card-height col-lg-4 my-3 w-100">

                <i class="icon fa-solid fa-gears fa-4x"></i>
                <p class="card-title text-center"><b>Customisation</b></p>
                <p class="card-text">Études et réalisation de projets complexes</p>
            </div>
        </div>
    </div>
</div>

<div class="container ">
    <div class="row">
        <div class="col-md-3 mx-auto">
            <div class="card card-height col-lg-4 my-3 w-100">

                <i class="icon fa-solid fa-lock fa-4x"></i>
                <p class="card-title text-center"><b>Sécurité</b></p>
                <p class="card-text text-center">Sauvegarde , antivirus, détection et réponse des
                    terminaux...</p>
            </div>
        </div>


        <div class="col-md-3 mx-auto">
            <div class="card card-height col-lg-4 my-3 w-100">

                <i class="icon fa-brands fa-windows fa-4x"></i>
                <p class="card-title text-center"><b>Gestion de parc</b></p>
                <p class="card-text">Gestion de parc informatique / inventaire, conformité ...</p>
            </div>
        </div>


        <div class="col-md-3 mx-auto">
            <div class="card card-height col-lg-4 my-3 w-100">

                <i class="icon fa-solid fa-phone-volume fa-4x"></i>
                <p class="card-title text-center"><b>TOIP - TELECOM</b></p>
                <p class="card-text">Mise en place de matériel téléphonique et périphériques</p>
            </div>
        </div>
    </div>
</div>


<h1>Rubrique Session</h1>

<p>Une formation vous intéresse ?<br>Connectez-vous afin d'accéder aux prochaines dates formations sur notre page
    Session.<br>N'hesitez pas à nous contacter pour en savoir plus</p>

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid my-5">


    <footer class=" container mt-4 pt-3  text-white text-center text-lg-start" style="background-color: #23242a;">
        <!-- Grid container -->
        <div class="container-fluid p-4">
            <!--Grid row-->
            <div class="row mt-4 justify-content-around">
                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0 d-flex justify-content-around align-items-center">


                    <!-- Facebook -->
                    <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-facebook-f"></i></a>
                    <!-- Instagram -->
                    <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fa-brands fa-instagram"></i></a>
                    <!-- Twitter -->
                    <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-twitter"></i></a>
                    <!-- Google + -->
                    <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-google-plus-g"></i></a>
                    <!-- Linkedin -->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">


                    <ul class="fa-ul" style="margin-left: 1.65em;">
                        <li class="mb-3">
                            <span class="ms-2"><i class="fas fa-home me-2"></i> Rue des Ecoles ESPOEY FR</span>
                        </li>
                        <li class="mb-3">
                            <span class="ms-2"><i class="fas fa-envelope me-2"></i> contact@lebosq-networks.fr</span>
                        </li>
                        <li class="mb-3">
                            <span class="ms-2"><i class="fas fa-phone me-2"></i> 05 59 98 04 86 </span>
                        </li>

                    </ul>
                </div>
                <!--Grid column-->
            </div>
        </div>


        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Copyright : © 2023 VILA VINCENT |

        </div>
        <!-- Copyright -->
    </footer>

</div>



{% endblock %}
