<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <a class="btn btn-primary" href="{{ path('app_home_banner_index') }}"><i class="fa fa-arrow-left"></i> Retour à la liste</a>
        </div>
        <div class="col-12 col-md-6 mx-auto login-form main__login-form">

        {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('créer') }}</button>
{{ form_end(form) }}
        </div>
    </div>
</div>